<html>
<head>
<!-- The param which is passed from render-->
<title><%= title %></title>
</head>
<body>
<div>
<a href="/">Home</a> |
<a href="/search/add">Add New Item</a> |
<a href="/search">Search The Store / view list of items</a>
</div>
<h1><%= title %></h1>

